.ph-container{
  padding-top: 5.625rem;
  padding-bottom: 6.25rem;
  padding-left:5rem;
  width: 100%;
}

.ph-item{
  display: flex;
  justify-content: center;
  align-items: center;
}


.ph-link{
  width: 15.625rem;
  height: 5rem;
  border-radius: .5rem;
background: #6E6E6E;
display:flex;
justify-content: center;
align-items: center;
}

.ph-link-active{
  background: #1A58E0;

}

.ph-label{
  color: #FFF;
font-family: 'Noto Sans KR';
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
}
.ph-menu{
    display: flex;
      gap:3.75rem;

  list-style: none;
  margin: 0;
  padding: 0;
}

